body {
    margin: 0;

    word-wrap: break-word;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;

    background-color: #fff;

    font-size: 16px;
    line-height: 1.4;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page {
    position: relative;
    overflow: hidden;
}

.bg-decor {
    position: absolute;
    right: 0;
    z-index: -1;
}

.bg-points {
    position: absolute;
    left: 50px;
    top: 830px;
}



/* Orange button */

.btn_orange {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 17px 25px 10px 25px;
    height: 55px;
    background: #FF543D;
    border-radius: 27px;
    cursor: pointer;
}

.btn_orange a {
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 27px;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_orange:hover {
    background: #e64b37;
}



/* Section title */

.section__text-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section__title {
    font-size: 52px;
    text-align: center;
    font-weight: 400;
}

.section__subtitle {
    width: 700px;
    margin-top: 5px;
    margin-bottom: 60px;
    text-align: center;
}

.bold-text {
    font-weight: 700;
}



/* Container */

.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}



/* Section */

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}



/* Header */

.header {
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    position: fixed;
}

.header_dark {
    color: #FFF;
    background-color: #00000071;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-size: 36px;
}

.header__nav-block {
    display: flex;
}

.header__nav {
    height: 100%;
}

.header__nav-link {
    font-size: 16px;
    margin-right: 60px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
}

.header__nav-link:last-child {
    margin-right: 30px;
}

.header__nav-link_active {
    color: #FF543D;
    font-weight: 700;
}

.header__nav-search {
    margin-right: 30px;
}

.header__ico-filter {
    filter: brightness(0) invert(1);
}

.background-decor {
    position: absolute;
    top: 0;
    right: 0;
}



/* Home */

.home {
    margin: 120px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__title {
    width: 620px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 86px;
    letter-spacing: 0.03em;
    text-align: left;
    font-size: 66px;
}

.home__title span {
    font-weight: 700;
}

.home__subtitle {
    width: 615px;
    margin: 15px 0 30px 0;
}

.home__wine-img {
    width: 530px;
    height: 800px;
}



/* Feature */

.feature__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature__inner-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.feature__inner-img {
    width: 54px;
    height: 80px;
    margin-bottom: 20px;
}

.feature__inner-img-wth {
    width: 70px;
    height: 80px;
    margin-bottom: 20px;
}

.feature__inner-block h2 {
    margin-bottom: 15px;
}

.feature__inner-block p {
    max-width: 304px;
    text-align: center;
}


/* About */

.about {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__information h2 {
    max-width: 645px;
    margin-bottom: 15px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 67px;
    color: #000000;
}

.about__subtitle {
    font-family: 'Nunito Sans', sans-serif;
    max-width: 645px;
    margin-bottom: 15px;
}

.about__subtitle:nth-child(4) {
    margin-bottom: 30px;
}

.about__img {
    max-width: 545px;
    max-height: 850px;
}

.about__background-decor {
    position: absolute;
    top: -145px;
    left: 0;
    z-index: 0;
}

.relative {
    position: relative;
}



/* shop */

.shop__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop__wines {
    width: 100%;
    margin-top: 150px;
    padding: 0 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop__product-img-block {
    position: relative;
}

.shop__product-img-main {
    position: absolute;
    top: -50%;
    left: 32%;
}

.shop__product-name-block h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
}

.shop__product-name-block p {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FF543D;
}

.shop__btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: #FF543D;
    color: #FFF;
    font-size: 24px;
}

.shop__btn:hover {
    background-color: #e24b37;
}

.shop-margin-bottom {
    margin-bottom: 400px;
}



/* Best quality */

.best-quality__background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.best-quality {
    position: relative;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.best-quality h2 {
    max-width: 860px;
    margin-bottom: 15px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 85px;
    color: #FFFFFF;
}

.best-quality p {
    max-width: 1090px;
    margin-bottom: 30px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}



/* Statistic */

.statistic {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistic-margin-top {
    margin-top: 350px;
}

.statistic__inner {
    width: 560px;
    display: flex;
    flex-wrap: wrap;
}

.statistic__inner-block {
    width: 240px;
    margin-bottom: 50px;
    display: flex;
}

.statistic__inner-block-stat {
    margin-left: 20px;
}

.statistic__inner-block-stat-num {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.statistic__text-block {
    max-width: 645px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.statistic__text-block-title {
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 67px;
    margin-bottom: 15px;
}

.statistic__text-block-subtitle {
    margin-bottom: 45px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.04em;
}

.statistic__background-decor {
    position: absolute;
    top: -50px;
    right: 0;
    z-index: 0;
}



/* Events */

.events {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.events__subtitle {
    max-width: 580px;
}

.events__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.events__block {
    max-width: 800px;
    margin-bottom: 55px;
    display: flex;
    align-items: center;
}

.events__block-text {
    max-width: 375px;
    margin-left: 20px;
}

.events__block-text h3 {
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
}

.marker-block {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.marker-block p {
    margin-left: 10px;
}

.events__block-subtitle {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.04em;
    color: #000000;
}

.events__inner-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FF543D;
}



/* FAQ */

.faq {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq__man-bg {
    margin-right: 60px;
}

.faq__inner-title {
    max-width: 645px;
    margin-bottom: 45px;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 67px;
}

.faq__inner-img {
    margin-bottom: 35px;
}

.faq__inner-comment {
    max-width: 645px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.04em;
}

.faq__inner-autor {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.faq__inner-rating {
    margin-bottom: 60px;
}

.faq__inner-rating-star {
    margin-right: 5px;
}

.faq__inner-rating-star:last-child {
    margin: 0;
}

.faq__background-decor {
    position: absolute;
    top: -145px;
    left: 0;
    z-index: 0;
}

.faq__inner-pages {
    display: flex;
}

.faq__circle {
    width: 12px;
    height: 12px;
    margin-right: 18px;
    border-radius: 50%;
    background: #FF543D;
    opacity: 0.1;
}

.faq__circle:last-child {
    margin: 0;
}

.faq__active-circle {
    opacity: 1;
}



/* Sponsors */

.sponsors__title {
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 78px;
    text-align: center;
}

.sponsors__sponsors-block {
    display: flex;
    justify-content: space-between;
}



/* Footer */

footer {
    height: 480px;
    padding-bottom: 15px;
    color: #FFF;
}

footer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/footer/footer__bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

footer .container {
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer__inner {
    display: flex;
}

.footer__block {
    max-width: 340px;
    margin-right: 100px;
}

.footer__block:last-child {
    margin: 0;
}

.footer__block h2 {
    font-size: 24px;
    margin-bottom: 45px;
}

.footer__block h2:after {
    content: "";
    display: block;
    width: 45px;
    height: 2px;
    margin: 12px 0 0 0;
    background-color: #ffffff;
    margin-bottom: 8px;
}

.footer__social-media-block {
    margin-top: 25px;
}

.footer__social-media-link {
    margin-right: 20px;
}

.footer__social-media-link:hover {
    opacity: 0.7;
}

.footer__social-media-link:last-child {
    margin-right: 0;
}

.footer__block:nth-child(2) {
    min-width: 123px;
}

.footer__block:last-child p {
    margin-bottom: 25px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
}

.footer__nav a {
    width: max-content;
    margin-bottom: 12px;
    color: #FFF;
}

.footer__nav a:hover {
    opacity: 0.7;
}

.footer__contact-block {
    margin-bottom: 12px;
    display: flex;
}

.footer__contact-block a,
.footer__contact-block p {
    margin-left: 10px;
    color: #FFF;
}

.footer__contact-block img {
    width: 19px;
    height: 19px;
}

.footer__link:hover {
    opacity: 0.7;
}

.footer__subscribe-block {
    max-width: 340px;
    position: relative;
}

.footer__subscribe-block input {
    display: block;
    width: 340px;
    height: 65px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    border-radius: 33px;
    border: none;
    padding: 0 1.5em;
}

.footer__subscribe-block input:hover {
    background-color: #e6e6e6;
}
  
.footer__subscribe-block button {
    position: absolute;
    top: 5px;
    right: 6px;
    width: 100px;
    height: 55px;
    border-radius: 33px;
    border: none;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-size: 16px;
    color: #FFF;
    background: #FF543D;
}

.footer__subscribe-block button:hover {
    background: #e64b37;
}

.footer__under-inner {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__under:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 60px;
    background-color: #fff;
}

.footer__under-link-block {
    display: flex;
    align-items: center;
}

.footer__under-link {
    color: #FFF;
    margin-right: 20px;
}

.footer__under-link:last-child {
    margin: 0 0 0 20px;
}

.footer__under-link:hover {
    opacity: 0.7;
}

.point {
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
}